doctype
html
  head
    title #{title} - History
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if(vehicleHistory=='')
      p
        h3 Please select or register a vehicle
    else
      p
        h3 Vehicle History
      table
        tr
          td
            | Asset ID 
          td  
            | #{vehicleHistory.arg.assetID}
        tr
          td
            | Driver Rating 
          td  
            | #{vehicleHistory.arg.driverRating}
        tr
          td
            | Last Event Date 
          td  
            | #{vehicleHistory.arg.lastEventDate}
        tr
          td
            | Last Event History 
          td  
            | #{vehicleHistory.arg.lastEventHistory}
        tr
          td
            | Trip uuid 
          td  
            | #{lastEvent.trip_uuid}            
        tr
          td
            | Trip Id 
          td  
            | #{lastEvent.trip_id}            
        tr
          td
            | Report Generated Time
          td  
            | #{lastEvent.generated_time}           
        tr
          td
            | Vehicle Id
          td  
            | #{lastEvent.mo_id}  
        tr
          td            
            | Vehicle Id 
          td  
            | #{lastEvent.mo_id}
        tr
          td
            | Driver Id           
          td  
            |  #{lastEvent.driver_id}
        tr
          td
            | Start Altitude 
          td  
            |  #{lastEvent.start_altitude}
        tr
          td
            | Start Latitude 
          td  
            |  #{lastEvent.start_latitude}
        tr
          td
            | Start Longitude 
          td  
            |  #{lastEvent.start_longitude}
        tr
          td
            | Start Time 
          td  
            |  #{lastEvent.start_time}
        tr
          td
            | End Altitude 
          td  
            |  #{lastEvent.end_altitude}
        tr
          td
            | End Latitude 
          td  
            |  #{lastEvent.end_latitude}
        tr
          td
            | End Longitude 
          td  
            |  #{lastEvent.end_longitude}
        tr
          td
            | End Time 
          td  
            |  #{lastEvent.end_time}
        tr
          td
            | Past Rating 
          td  
            |  #{lastEvent.past_rating}
        tr
          td
            | New Rating 
          td  
            |  #{lastEvent.new_rating}             